<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>미디엄</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <link rel="stylesheet" href="/resource/global/global.css">
    <script src="/resource/global/global.js"></script>

    <script>
        const urlParams = getUrlParams(location.href);

    </script>
</head>
<body>

<header layout:fragment="header">
    <h1 th:text="|${@appConfig.siteName}|"></h1>

    <a href="/">홈</a>
    <a th:if="${@rq.admin}" href="/adm">관리자 홈</a>
    <a th:if="${@rq.logout}"  href="/member/login">로그인</a>
    <a th:if="${@rq.logout}" href="/member/join">회원가입</a>
    <a th:if="${@rq.login}" href="/member/logout">로그아웃</a>
</header>
<th:block layout:fragment="content"></th:block>

<script>
    $(window).bind("pageshow", function (event) {
        if (sessionStorage.getItem("historyBackFailMsg")) {
            toastWarning(sessionStorage.getItem("historyBackFailMsg"));
            sessionStorage.removeItem("historyBackFailMsg");
        }
    });

    if (urlParams.msg) {
        toastNotice(urlParams.msg);
    }

    if (urlParams.failMsg) {
        toastWarning(urlParams.failMsg);
    }
</script>

</body>
</html>